.font-1 {
  font-family: "Merriweather", serif;
}
.font-2 {
  font-family: "Archivo", sans-serif;
}
.font-3 {
  font-family: "Montserrat", sans-serif;
}
.font-4 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.color-1 {
  color: #ff7800;
}
.color-2 {
  color: #f7f7f7;
}

.bg-color-1 {
  background-color: #ff7800;
}

.bg-color-2 {
  background-color: #f7f7f7;
}
